[Unit]
Description=SachetSMSservice
After=network.target

[Service]
Type=simple
User=monitoring
Group=monitoring

WorkingDirectory=/home/monitoring/go/sachet/

StandardOutput=journal
StandardError=journal

ExecStart=/home/monitoring/go/sachet/sachet
Restart=always

[Install]
WantedBy=multi-user.target

